@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #ffffff;
    --second-bg-color: #dbe2ef;
    --text-color: #112;
    --main-color: #4bb3e2;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color)
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/*HEADER CSS*/
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: transparent;
    backdrop-filter: blur(10px);
    transition: all 0.3s ease;
}

.logo {
    font-size: 3rem;
    color: var(--bg-color);
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.10);
}


.navbar {
    display: flex;
}

.navbar a {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 4rem;
    transition: all 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    cursor: pointer;
    display: none;
}

.nav-btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    font-weight: 600;
    transition: all 0.3s ease;
}

.nav-btn:hover {
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 20px var(--main-color);
    transform: scale(1.05);
}

/* HOME CSS */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--second-bg-color);
}

.home-content h3 {
    font-size: 5.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 7.8rem;
    font-weight: 700;
    line-height: 1.3;
    background: -webkit-linear-gradient(#254e79, #4bb3e2);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-content p {
    font-size: 5.3rem;
    font-weight: 500;
}

.home-img img {
    width: 25vw;
    border: 5px solid var(--main-color);
    border-radius: 51% 49% 48% 52% / 49% 49% 51% 51%;
    animation: borderAnimation 5s linear infinite;
}

.home-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
        0 0 35px var(--main-color),
        0 0 45px var(--main-color);
}

@keyframes borderAnimation {
    0% {
        border-radius: 51% 49% 48% 52% / 49% 49% 51% 51%;
    }

    35% {
        border-radius: 60% 40% 57% 43% / 40% 54% 46% 60%;
    }

    65% {
        border-radius: 67% 33% 68% 32% / 27% 70% 30% 73%;
    }

    100% {
        border-radius: 51% 49% 48% 52% / 49% 49% 51% 51%;
    }
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}

.social-media a:hover {
    transform: scale(1.2) translateY(-8px);
    background-color: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 20px var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: none;
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn:hover {
    transform: scale(1.2) translateY(-8px);
    background-color: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 20px var(--main-color);
}


/* ABOUT CSS */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: var(--snd-bg-color);
}


.about-left img {
    width: 25vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    animation: floatImage 4s ease-in-out infinite;
    transition: 0.4s ease;
}

.about-left img:hover {
    box-shadow: 0 0 25px var(--main-color),
        0 0 35px var(--main-color),
        0 0 45px var(--main-color);
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }

}

.heading {
    font-size: 6rem;
    text-align: left;
}

.about-content {
    padding: 0 4rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 3rem;
}

.about-content p {
    font-size: 1.8rem;
    margin: 2rem 0 3rem;
}


.about-skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
    padding: 0 4rem;
    padding-top: 2rem;
}

.about-skill {
    display: flex;
    align-items: center;
    gap: 10px;
}

.about-skill p {
    min-width: 150px;
    font-size: 24px;
    font-weight: 500;
}

.about-skill hr {
    outline: none;
    border: none;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg, #00c3ff -5.09%, #94dfff 106.28%);
}

.skill-bar {
    flex: 1;
    height: 10px;
    background-color: #ddd;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
}

.fill {
    height: 100%;
    width: 0;
    background: linear-gradient(264deg, #00c3ff -5.09%, #94dfff 106.28%);
    border-radius: 50px;
    transition: width 2s ease-in-out;
}