@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #ffffff;
    --second-bg-color: #dbe2ef;
    --text-color: #112;
    --main-color: #4bb3e2;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

/*HEADER CSS*/
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    background: transparent;
    backdrop-filter: blur(2px);
    opacity: 0;
    transition: all 0.3s ease;
}


.logo {
    font-size: 3rem;
    color: var(--bg-color);
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.10);
}


.navbar {
    display: flex;
}

.navbar a {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 4rem;
    transition: all 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    cursor: pointer;
    display: none;
}

.nav-btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    font-weight: 600;
    transition: all 0.3s ease;
}

.nav-btn:hover {
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 20px var(--main-color);
    transform: scale(1.05);
}

/* HOME CSS */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--second-bg-color);
}

.home-content h3 {
    font-size: 5.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 7.8rem;
    font-weight: 700;
    line-height: 1.3;
    background: #4bb3e2;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-content p {
    font-size: 5.3rem;
    font-weight: 500;
}

.home-img img {
    width: 25vw;
    border: 5px solid var(--main-color);
    border-radius: 51% 49% 48% 52% / 49% 49% 51% 51%;
    animation: borderAnimation 5s linear infinite;
}

.home-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
        0 0 35px var(--main-color),
        0 0 45px var(--main-color);
}

@keyframes borderAnimation {
    0% {
        border-radius: 51% 49% 48% 52% / 49% 49% 51% 51%;
    }

    35% {
        border-radius: 60% 40% 57% 43% / 40% 54% 46% 60%;
    }

    65% {
        border-radius: 67% 33% 68% 32% / 27% 70% 30% 73%;
    }

    100% {
        border-radius: 51% 49% 48% 52% / 49% 49% 51% 51%;
    }
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}

.social-media a:hover {
    transform: scale(1.2) translateY(-8px);
    background-color: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 20px var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: none;
    font-size: 1.6rem;
    color: var(--bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn:hover {
    transform: scale(1.2) translateY(-8px);
    background-color: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 20px var(--main-color);
}


/* ABOUT CSS */
.about {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background: var(--snd-bg-color);
}


.about-left img {
    width: 25vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    animation: floatImage 4s ease-in-out infinite;
    transition: 0.4s ease;
}

.about-left img:hover {
    box-shadow: 0 0 25px var(--main-color),
        0 0 35px var(--main-color),
        0 0 45px var(--main-color);
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    100% {
        transform: translateY(0);
    }

}

.heading {
    font-size: 6rem;
    text-align: left;
}

.about-content {
    padding: 0 4rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 3rem;
}

.about-content p {
    font-size: 1.8rem;
    margin: 2rem 0 3rem;
}


.about-skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;
    padding: 0 4rem;
    padding-top: 2rem;
}

.about-skill {
    display: flex;
    align-items: center;
    gap: 10px;
}

.about-skill p {
    min-width: 150px;
    font-size: 24px;
    font-weight: 500;
}

.about-skill hr {
    outline: none;
    border: none;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg, #00c3ff -5.09%, #94dfff 106.28%);
}

.skill-bar {
    flex: 1;
    height: 10px;
    background-color: #ddd;
    border-radius: 50px;
    overflow: hidden;
    position: relative;
}

.fill {
    height: 100%;
    width: 0;
    background: linear-gradient(264deg, #00c3ff -5.09%, #94dfff 106.28%);
    border-radius: 50px;
    transition: width 2.3s ease-in-out;
}

/* PORTFOLIO CSS */


.portfolio {
    background: var(--second-bg-color);
    text-align: center;
}

.port-heading {
    padding-top: 5.5rem;
    text-align: center;
    font-size: 6rem;
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2.3rem;
    margin-top: 4.2rem;
    margin-bottom: 5rem;
}

.row {
    background: var(--bg-color);
    border-radius: 28px;
    border: 1px solid transparent;
    box-shadow: 0 0 5px var(--main-color);
    padding: 20px;
    transition: all 0.3s ease;
}

.row img {
    height: auto;
    width: 100%;
    border-radius: 28px;
    margin-bottom: 1.4rem;
}

.main-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.row h5 {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color);
}

.row i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    font-size: 27px;
    border-radius: 50%;
    color: var(--text-color);
}

.row h4 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.4;
}

.row:hover {
    border: 1px solid var(--main-color);
    transform: translateY(-5px) scale(1.03);
    cursor: pointer;
}

.portfolio-btn {
    display: inline-block;
    padding: 1.5rem 4rem;
    background: var(--main-color);
    border-radius: 5rem;
    box-shadow: none;
    font-size: 2rem;
    color: var(--bg-color);
    letter-spacing: 0.1rem;
    font-weight: 700;
    transition: 0.3s ease;
    margin: 0 auto;
}

.portfolio-btn:hover {
    transform: scale(1.2) translateY(-8px);
    background-color: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 20px var(--main-color);
}

/* CERTIFICATES SLIDER CSS */

.certificates {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 4rem 2rem;
    background: var(--bg-color);
    overflow: hidden;
    box-sizing: border-box;
}


.slider-wrapper {
    position: relative;
    width: 80vw;
    max-width: 960px;
    aspect-ratio: 16/9;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 1.5rem 3rem -0.75rem rgba(0, 0, 0, 0.25);
}

.slider {
    display: flex;
    height: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.slider::-webkit-scrollbar {
    display: none;
}

.slider img {
    flex: 0 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    height: 100%;
    background-color: transparent;
    border: none;
}

.slider-nav {
    display: flex;
    gap: 1rem;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    background-color: white;
    opacity: 0.75;
    transition: opacity 0.25s ease;
}

.slider-nav a:hover {
    opacity: 1;
}

/* MODAL CODE */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);

    /* Animation */
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.modal.show {
    display: block;
    opacity: 1;
    transform: scale(1);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 80vh;
    object-fit: contain;
    border-radius: 8px;
}

.modal-close {
    position: absolute;
    top: 30px;
    right: 35px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    z-index: 1001;
}

.modal-close:hover {
    color: #bbb;
}

/* Arrows */
.modal-arrow {
    position: absolute;
    top: 50%;
    background: rgba(0, 0, 0, 0.4);
    border: none;
    color: white;
    font-size: 3rem;
    cursor: pointer;
    padding: 0 15px;
    border-radius: 5px;
    user-select: none;
    transform: translateY(-50%);
    transition: background 0.2s ease;
    z-index: 1001;
}

.modal-arrow:hover {
    background: rgba(0, 0, 0, 0.8);
}

.left-arrow {
    left: 20px;
}

.right-arrow {
    right: 20px;
}

.modal-content {
    transition: opacity 0.5s ease;
    opacity: 1;
}

.modal-content.fade-out {
    opacity: 0;
}

.modal-content {
    position: relative;
    max-width: 90vw;
    max-height: 80vh;
}

.modal-content img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.modal-content img.fade-out {
    opacity: 0;
}

/* CONTACT CSS */
.heading-contact {
    padding-top: 5.5rem;
    text-align: center;
    font-size: 6rem;
}

/* CONTACT CSS */

.contact{
    background: var(--second-bg-color);
}
.contact h2{
    margin-bottom: 3rem;
    color: var(--text-color);
}
.contact form{
    width: 100%;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form.input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background:var(--bg-color);
    border-radius: 0.8rem;
    border: 1px solid var(--main-color);
    margin: 0.7rem 0;
    resize: none;
}

.contact form .input-box input{
    width: 49%;
    margin: 0.7rem 0.35rem;
}
.contact form.btn{
    margin-top: 2rem;
}

/* Footercss */
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background: var(--bg-color);
}
.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}
.footer .social a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--main-color) ;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}
.footer .social a:hover{
    transform: scale(1.2) translateY(-8px);
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 20px var(--main-color);

}
.footer .copyright{
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: var(--text-color);
}

/* Responsive Design Code */
@media (max-width: 1285px){
    html{
        font-size:55% ;
    }
}


@media (max-width: 991px){
    header{
        padding:2rem 3%;
        background: rgba(230, 228, 228, 0.9);
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width: 786px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 255px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        background: rgba(230, 228, 228, 0.9);
        transition: all 0.3s ease;
        backdrop-filter: blur(3px);
    }
    .navbar a{
        display: block;
        padding: 17px;
        font-size: 22px;
    }
    .navbar.active{
        right: 0;
    }
    .home{
        flex-direction: column;
    }
    .home-content h3{
        font-size:2.6rem;
    }
    .home-content h1{
        font-size: 5rem;
    }
    .home-content{
        order: 2;
    }
    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
    .about{
        flex-direction: column;
    }
    .about-img img{
        width: 70vw;
        margin-top: 4rem;
    }

  .contact form .input-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .contact form .input-box input {
    width: 100%;
  }
}

@media (max-width: 617px) {
    .home-img img{
        width: 80vw;
        margin-top: 8rem;
    }
    .about-img img{
        width: 80vw;
        margin-top: 4rem;
    }
}
@media (max-width: 426px){
    .heading{
        font-size:5rem ;
        text-align: center;
        margin: 2rem 0;
    }
}